## Experiment 3

### Data Aggregation: Aggregate data by grouping rows based on a specific attribute and computing summary statistics, such as mean, median, or count.

### Importing Required Libraries

In [1]:
import pandas as pd

### Creating Dataframe

In [6]:
# Sample data
data = {
    'Department': ['HR', 'Sales', 'HR', 'IT', 'Sales', 'IT', 'HR', 'Sales'],
    'Salary': [50000, 60000, 55000, 70000, 65000, 72000, 52000, 64000]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Printing Dataframe
print("Dataframe is:\n")
print(df)

Dataframe is:

  Department  Salary
0         HR   50000
1      Sales   60000
2         HR   55000
3         IT   70000
4      Sales   65000
5         IT   72000
6         HR   52000
7      Sales   64000

### 1. Compute Mean

In [10]:
# Group by 'Department' and compute the mean
mean_data = df.groupby('Department')['Salary'].mean().reset_index()

# Display the result
print("Mean of Data is:\n")
print(mean_data)

Mean of Data is:

  Department        Salary
0         HR  52333.333333
1         IT  71000.000000
2      Sales  63000.000000

### 2. Compute Median

In [12]:
# Group by 'Department' and compute the mean
median_data = df.groupby('Department')['Salary'].median().reset_index()

# Display the result
print("Median of Data is:\n")
print(median_data )

Median of Data is:

  Department   Salary
0         HR  52000.0
1         IT  71000.0
2      Sales  64000.0

### 3. Compute Count

In [13]:
# Group by 'Department' and compute the mean
count_data = df.groupby('Department')['Salary'].count().reset_index()

# Display the result
print("Count of Data is:\n")
print(count_data )

Count of Data is:

  Department  Salary
0         HR       3
1         IT       2
2      Sales       3

### 4.  Aggregate data by grouping rows based on a specific attribute and computing summary statistics like mean, median, and count:

In [15]:
# Group by 'Category' and compute summary statistics (mean, median, count)
aggregated_data = df.groupby('Department').agg(
    mean_value=('Salary', 'mean'),
    median_value=('Salary', 'median'),
    count_value=('Salary', 'count')
).reset_index()

# Display the result
print(aggregated_data)

  Department    mean_value  median_value  count_value
0         HR  52333.333333       52000.0            3
1         IT  71000.000000       71000.0            2
2      Sales  63000.000000       64000.0            3